*
{
	padding: 0px;
	margin: 0px;
}
.p2
{
	color: white;
	font-family: 'Monoton', cursive;
	font-size: 80px;
	position: absolute;
	top: 70%;
	left: 35%;
}
.p1
{
	color: white;
	font-family: 'Josefin Slab', serif;
	position: absolute;
	top: 85%;
	left: 45%;

}
i
{
	color: white;
}
.icon1
{

	position: absolute;
	top: 30px;
	left: 30px;
	font-size: 30px;;
}
.icon2
{
	position: absolute;
	top: 10px;
	left: 98%;
	font-size: 25px;
}
.icon3
{
	position: absolute;
	top: 95%;
	left: 98%;
	font-size: 25px;
}
.icon4
{
	position: absolute;
	top: 95%;
	left: 30px;
	font-size: 25px;
}
.p3
{
	color: white;
	font-family: 'Major Mono Display', monospace;
	position: absolute;
	top: 90%;
	left: 15px;
	transform: rotate(270deg);
	font-weight: bold;
}
.mainicon
{
	font-size: 300px;
	position: absolute;
	top: 150px;
	left: 43%;
}
